body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b6a0df;
  background-image: url("./lines-back.png");
  background-size: contain;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 180px;
  background-color: #ffffffc4;
  border: 24px solid rgb(182 160 223 / 69%);
  border-radius: 25px;
  box-shadow: 0 0 10px #000000;
  gap: 25px;
  padding: 32px 64px;
}

.photo-portrait {
  display: block;
  width: 20vw;
  border-radius: 50%;
  box-shadow: 0 0 20px 8px #ffffff;
}

.description-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.name-block {
  display: grid;
  grid-template-rows: 25px 45px 25px;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #400e5a;
}

.frontend-developer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 32px;
  border-radius: 40px;
  background-color: #c98761;
  font-family: "DM Sans", sans-serif;
  color: #400e5a;
  text-transform: uppercase;
  font-weight: bold;
}

.email {
  padding: 5px;
  color: #67407c;
  font-weight: bold;
  border-top: 1.2px solid #5a496a;
  border-bottom: 1.2px solid #5a496a;
}
.email a {
  font-family: "DM Sans", sans-serif;
  color: inherit;
  text-decoration: none;
}

.description p {
  color: #400e5a;
  left: 30px;
  position: relative;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1px;
  font-weight: bolder;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    margin: 64px 180px;
  }

}
@media (max-width: 1200px) {
  .container {
    margin: 32px 90px;
  }
  }

@media (min-width: 769px) {
  .personal-name {
    font-size: 28px;
  }
  .description p {
    left: 0px !important;
  }
  @media (min-width: 792px) {
    .description p {
      left: 30px !important;
    }
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 16px 30px;
  }
  .photo-portrait {
    width: 32vw !important;
  }
  h1 {
    font-size: 28px !important;
  }
  .description p {
    left: 0px !important;
}
}